.header{
    background-color: #8c828a;
    position: relative;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1, header a{
    font-family: 'Teko', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: #3B2D39;
}

.header__nav a{
    margin-left: 15px;
}

.header-icone{
    margin-left: 3px;
}

 header a:hover{
    border-radius: 30px;
    background-color: #F4EBF2;
    outline: none;
    padding: 2px;
}

/* responsive */
@media (max-width: 650px){
    header h1, header a{
        font-size: 18px;
    }
}
