html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

a {
  text-decoration: none;
  color: initial; }

ul {
  list-style: none; }

/* =======================================================
========================================================== 
FONTS STYLE 
==========================================================
======================================================= */
h2 {
  font-family: 'Roboto', Arial, sans-serif;
  color: #3B2D39;
  font-size: 45px; }

.btn {
  font-family: 'Roboto', Arial, sans-serif;
  color: #3B2D39;
  font-size: 22px; }

header h1,
header a {
  font-family: 'Teko', Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: #3B2D39; }

.banner-title {
  font-family: 'Roboto', Arial, sans-serif; }

.banner-title h2 {
  font-size: 36px;
  color: white; }

.banner-title p {
  font-size: 22px;
  color: white; }

#cardName {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 32px;
  padding-top: 20px;
  color: #3B2D39; }

#cardPrice, #cardDescription, #cardLenses {
  font-family: 'Roboto', Arial, sans-serif;
  color: #3B2D39;
  font-size: 24px;
  font-weight: bold; }

.end-text_index {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold; }

.choice-lenses select {
  font-size: 11px;
  font-family: Arial, sans-serif;
  color: #000000; }

.choice-lenses label {
  font-size: 30px;
  font-family: 'Roboto', Arial, sans-serif;
  color: #3B2D39; }

.name {
  color: #3B2D39;
  font-weight: bold;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 26px; }

.price,
.lenses,
.description {
  font-family: 'Roboto', Arial, sans-serif;
  color: #3B2D39;
  font-size: 22px; }

.end-text_product {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold; }

.contact-form label {
  font-size: 20px;
  color: black; }

td {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto', Arial, sans-serif;
  color: #3B2D39; }

.end-text_panier {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold; }

.order-confirm_text {
  font-size: 22px; }

.end-text_confirm {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold; }

.footer p {
  font-size: 11px;
  color: #000000; }

/* =======================================================
========================================================== 
FONTS STYLE (RESPONSIVE)
==========================================================
======================================================= */
@media (max-width: 450px) {
  td {
    font-size: 11px; }

  .order h2 {
    font-size: 17px; } }
@media (max-width: 550px) {
  .end-text_panier {
    font-size: 11px; }

  .order h1,
  .order h2 {
    font-size: 22px; }

  .contact-form h2 {
    font-size: 18px; }

  .confirm-order {
    font-size: 14px; } }
@media (max-width: 650px) {
  header h1,
  header a {
    font-size: 18px; }

  .banner-title h2 {
    font-size: 28px; }

  .banner-title p {
    font-size: 18px; }

  .products h3 {
    font-size: 20px; }

  .products p {
    font-size: 16px; }

  #bloc3 h2 {
    font-size: 29px; }

  .end-text_index {
    font-size: 11px; }

  .order-confirm h2 {
    font-size: 20px; }

  .order-confirm_text p {
    font-size: 16px; }

  .end-text_confirm {
    font-size: 11px; }

  .name {
    font-size: 22px; }

  .price,
  .lenses,
  .description {
    font-size: 18px; }

  .product-select p {
    font-size: 14px; }

  .product-select h2 {
    font-size: 24px; }

  .choice-lenses label {
    font-size: 22px; }

  .end-text_product {
    font-size: 11px; } }
@media (max-width: 850px) {
  td {
    font-size: 14px; }

  .end-text_panier {
    font-size: 20px; }

  label {
    font-size: 14px; } }
@media (max-width: 1050px) {
  .order-confirm h2 {
    font-size: 24px; }

  .order-confirm_text p {
    font-size: 18px; }

  .end-text_confirm {
    font-size: 22px; } }
@media (max-width: 1100px) {
  .products h3 {
    font-size: 24px; }

  .products p {
    font-size: 20px; }

  .products h2 {
    font-size: 33px; }

  .products p {
    font-size: 22px; }

  .end-text_index {
    font-size: 20px; } }
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4EBF2;
  border: solid 2px #3B2D39;
  border-radius: 8px;
  width: 320px;
  height: 60px;
  margin: auto; }

.btn:hover {
  opacity: 0.70;
  color: black;
  font-weight: bold; }

.btn_home {
  margin-top: 50px; }

.btn-customize {
  margin-top: 10px; }

.clear-order_summary,
.div-confirm-order {
  margin-top: 50px; }

.btn-return-home {
  margin-top: 30px;
  margin-bottom: 50px; }

table {
  border: medium solid #3B2D39;
  border-collapse: collapse;
  width: 1000px;
  height: 200px;
  text-align: center; }

td {
  border: thin solid #3B2D39;
  width: 200px;
  height: 30%; }

.table-category,
.total {
  background-color: #bdb3bb; }

.contact-form {
  background-color: #bdb3bb;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  border: solid 2px #3B2D39; }

.contact-form h2 {
  text-align: center; }

.contact-form label {
  width: 110px;
  display: inline-block;
  vertical-align: middle; }

.contact-form input {
  width: 400px;
  height: 30px;
  margin: 20px;
  border: none; }

.choice-lenses {
  display: flex;
  flex-direction: column; }

.choice-lenses label {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 25px; }

.choice-lenses select {
  margin-bottom: 45px;
  width: 50%;
  height: 25px;
  align-self: center; }

.header {
  background-color: #8c828a;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.nav a {
  margin-left: 15px; }

.header-icone {
  margin-left: 3px; }

header a:hover {
  border-radius: 20px;
  background-color: #F4EBF2;
  outline: none; }

.footer {
  background-color: #8c828a;
  position: fixed;
  height: 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.banner {
  display: flex;
  justify-content: center;
  align-items: center; }

.banner-img {
  position: relative;
  z-index: 1;
  width: 100%; }

.banner-title {
  position: absolute;
  z-index: 10;
  background: transparent;
  text-align: center; }

.catalog {
  text-align: center;
  margin: 0px;
  padding-top: 50px;
  background-color: #F4EBF2; }

#products-dynamic {
  background-color: #F4EBF2;
  margin: 0;
  padding: 0px; }

.hidden {
  display: none; }

#products {
  padding-bottom: 100px;
  padding-top: 50px; }

#product-card {
  background-color: #bdb3bb;
  height: 550px;
  margin-left: 100px;
  margin-right: 100px; }

.infos-card {
  display: flex;
  flex-direction: column;
  padding-top: 50px; }

#product-card img {
  float: left;
  padding: 70px; }

.end-text_index {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 70px; }

#product-card {
  transform: scale(1);
  transition: transform 0.2s; }

#product-card:hover {
  transform: scale(1.05);
  opacity: 0.95; }

/* responsive (products) */
@media (max-width: 1100px) {
  #product-card {
    margin-left: 50px;
    margin-right: 50px;
    height: 900px; }

  .infos-card {
    align-items: center;
    padding: 0px;
    margin: 0px; }

  #product-card img {
    padding: 0px;
    margin: 0px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 75px; } }
@media (max-width: 650px) {
  #product-card {
    margin-left: 10px;
    margin-right: 10px;
    height: 700px; }

  #product-card img {
    height: 150px;
    width: 150px; } }
.order-confirm {
  background-color: #F4EBF2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px; }

.order-confirm h2 {
  padding-top: 30px;
  padding-bottom: 15px;
  text-align: center; }

.order-confirm_text h2 {
  padding-top: 30px;
  margin-bottom: -10px; }

.order-confirm_text {
  background-color: #bdb3bb;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 30px;
  line-height: 40px; }

.end-text_confirm {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 70px; }

@media (max-width: 1050px) {
  .order-confirm_text {
    margin-left: 20px;
    margin-right: 20px; }

  .order-confirm_text p {
    line-height: 26px; }

  .btn-return-home {
    width: 250px; } }
.product-select {
  background-color: #F4EBF2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
  padding-top: 30px;
  padding: 40px; }

.name {
  padding-top: 30px;
  padding-top: 20px; }

.img-customize {
  display: block;
  margin: auto;
  height: 50%;
  width: 50%; }

.end-text_product {
  padding-bottom: 50px;
  padding-top: 70px;
  display: flex;
  justify-content: center; }

@media (max-width: 1300px) {
  .img-customize {
    display: block;
    margin: auto; } }
@media (max-width: 650px) {
  .btn-customize {
    width: 200px; } }
.order-div {
  background-color: #F4EBF2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 70px; }

.order h2 {
  margin-top: 50px; }

.end-text_panier {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 70px; }

@media (max-width: 1100px) {
  table {
    width: 800px; } }
@media (max-width: 850px) {
  table {
    width: 400px;
    height: 150px; }

  td {
    width: 250px; }

  .contact-form {
    margin-right: 20px;
    margin-left: 20px; }

  form {
    padding: 0; }

  input {
    width: 200px; }

  label {
    width: 80px; } }
@media (max-width: 550px) {
  input {
    width: 130px; }

  label {
    width: 90px; }

  .confirm-order {
    width: 200px; } }
@media (max-width: 450px) {
  table {
    width: auto;
    margin: 20px; } }

/*# sourceMappingURL=style.css.map */
