.bloc1__product-zurss, .bloc1__product-hirsch, .bloc1__product-franck, .bloc1__product-kuros, .bloc1__product-katatone, table, .summary_form, .img-customize, .order_confirmation_message{
    transform: scale(1);
    transition: transform 0.2s;
}

.bloc1__product-zurss:hover, .bloc1__product-hirsch:hover, .bloc1__product-franck:hover, .bloc1__product-kuros:hover, .bloc1__product-katatone:hover, table:hover, .summary_form:hover, .img-customize:hover, .order_confirmation_message:hover{
    transform: scale(1.05);
    opacity: 0.95;
}

