//MAIN BUTTON
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4EBF2;
    border: solid 2px #3B2D39;
    border-radius: 8px;
    width: 320px;
    height: 60px;
    margin: auto;
}

.btn:hover{
    opacity: 0.70;
    color: black;
    font-weight: bold;
}

//HOME.HTML BUTTON SPECIFICATION
.btn_home{
    margin-top: 50px;
}

//PRODUIT.HTML BUTTON SPECIFICATION
.btn-customize{
    margin-top: 10px;
}

//PANIER.HTML BUTTON SPECIFICATION
.clear-order_summary,
.div-confirm-order{
    margin-top: 50px;
}

//CONFIRMATION.HTML BUTTON SPECIFICATION
.btn-return-home{
    margin-top: 30px;
    margin-bottom: 50px;
}
