.order-confirm{
    background-color: #F4EBF2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
}

.order-confirm h2{
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
}

.order-confirm_text h2{
    padding-top: 30px;
    margin-bottom: -10px;
}

.order-confirm_text{
    background-color: #bdb3bb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 30px;
    line-height: 40px;
}

.end-text_confirm{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 70px;
}

@media (max-width: 1050px){
    .order-confirm_text{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .order-confirm_text p{
    line-height: 26px;
    }

    .btn-return-home{
        width: 250px;
    }
}

