/* BLOC 2 */ 
.bloc2{
    background-color: #F4EBF2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 70px;
}

h1, h2{
    font-family: 'Roboto', Arial, sans-serif;
    color: #3B2D39;
    font-size: 32px;
}

.panier-end-text{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 70px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.panier__main-section h1, .panier__main-section h2{
    margin-top: 50px;
}

@media (max-width: 1100px){
    table{
        width: 800px;
    }
}

@media (max-width: 850px){
    table{
        width: 400px;
        height: 150px;
    }
    td{
        width: 250px;
        font-size: 14px;
    }

    .summary_form{
        margin-right: 20px;
        margin-left: 20px;
    }
    .panier-end-text{
        font-size: 20px;
    }

    form{
        padding: 0;
    }
    input{
        width: 200px
    }
    label{
        width: 80px;
        font-size: 14px;
    }
}

@media (max-width: 550px){
    input{
        width: 130px
    }
    label{
        width: 90px;
    }
    .panier-end-text{
        font-size: 11px;
    }

    .panier__main-section h1, .panier__main-section h2{
        font-size: 22px;
    }
    .summary_form h2{
        font-size: 18px;
    }
    .summary_form-btn{
        width: 200px;
        font-size: 14px;
    }
}

@media (max-width: 450px){
    table{
        width: auto;
        margin: 20px;     
    }
    td{
        font-size: 11px;
    }
    .panier__main-section h2{
        font-size: 17px;
    }
}