.product-select{
    background-color: #F4EBF2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
    padding-top: 30px;
    padding: 40px;
}

.name{
    padding-top: 30px;
    padding-top: 20px;
}

.img-customize{
    display: block;
    margin: auto;
    height:50%;
    width: 50%;
}

.end-text_product{
    padding-bottom: 50px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1300px){
    .img-customize{
    display: block;
    margin: auto;
    }
}

@media (max-width: 650px){
    .btn-customize{
        width: 200px;
    }
}